# Arquivo EditorConfig raíz
# Podemos ter mais de um por projeto (para pastas específicas),
# mas não é muito comum.
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,py,md}]  # Match em qualquer arquivo com essas extensões
charset = utf-8  # charset padrão


[*.py]  # Match apenas em arquivos .py.
indent_style = space
indent_size = 4


[*.js]
indent_style = space
indent_size = 2  # Para JavaScript vamos definir apenas 2 espaços de indentação.

[*.md]
indent_style = space
indent_size = 2 


# Tab indentation (no size specified)
[Makefile]
indent_style = tab  # Usar o caracter tabulação (\t) para indentação em arquivos Makefile.
# Mesmo que a gente aperte TAB em um arquivo .py, na verdade, vai inserir ESPAÇOS.
# Não precisamos especificar o tamanho da indentação. Ou seja, será mantido como está ou como definido pelo editor.


# Podemos sobrescrever arquivos em uma pasta específica
[lib/**.js]  # /**.js => recursivo, ou seja, qualquer arquivo *.js em qualquer subdiretório de lib/
indent_style = space
indent_size = 2


# Arquivos específicos:
[{django.yml, pytest.ini}]
indent_style = space
indent_size = 2
